@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.main-header {
    background-color: #6C4BFD; 
    color: white;
    padding: 10px 0;    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}


.logo img {
    max-height: 40px;
    margin-right: 10px;
}

.main-nav menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main-nav li {
    margin-left: 20px;
}

.main-nav li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 2px;
    transition: .5s;
    padding: 10px;
}

.main-nav li a:hover {
    letter-spacing: 4px;
    border-bottom: 3px solid white;
}

.main-nav li a:active {
    border-bottom: 3px solid white;
}

#aboutUs{
    margin: 4em auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}
.mainPlan {
  text-align: center; 
  padding: 40px;
}

.mainTitle {
  font-size: 2.5em; 
  font-weight: bold; 
  color: #333; 
  margin-bottom: 15px; 
}

.highlight {
  color: #6A5ACD; 
}

.subtitulo {
  font-size: 1.1em;
  color: #000;
  margin-bottom: 30px; 
}

.mainButton {
  display: inline-block; 
  background-color: #6A5ACD; 
  color: white; 
  padding: 15px 30px; 
  text-decoration: none; 
  border-radius: 25px; 
  font-weight: bold; 
  font-size: 1.2em; 
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 3px rgb(103, 102, 102);
}

.mainButton:hover {
  background-color: #533bed; 
}